
@{
    ViewBag.Title = "PQR";
    Layout = "~/Views/Shared/Layout_CP.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Service Market</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Css/PQR.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;600&display=swap" rel="stylesheet">
</head>

<body>
    <main class="bg-light">
        <section>
            <h1 id="titulo">Preguntas, quejas y reclamos.</h1>
            <form class="row g-3">
                <div class="contenedor col-md-5">
                    <div class="informacion">
                        <label class="form-label">Ingresa tu nombre y apellidos</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="informacion">
                        <label class="form-label">Ingresa tu número de documento</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="informacion">
                        <label class="form-label">¿A qué correo electrónico podemos comunicarnos?</label>
                        <input type="text" class="form-control" required>
                    </div>
                </div>

                <div class="contenedor col-md-5">
                    <div class="informacion">
                        <label class="form-label">Tipo de documento</label>
                        <select class="form-select" required>
                            <option selected disabled value="">-----</option>
                            <option>Cédula de ciudadanía</option>
                            <option>Cédula de extranjería</option>
                            <option>Pasaporte</option>
                        </select>
                    </div>
                    <div class="informacion">
                        <label class="form-label">Escribe tu número de celular</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="informacion">
                        <label class="form-label">Qué tipo de solicitud vas a radicar</label>
                        <select class="form-select" required>
                            <option selected disabled value="">-----</option>
                            <option>Petición</option>
                            <option>Queja</option>
                            <option>sugerencia</option>
                            <option>Felicitación</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-10">
                    <textarea class="form-control" placeholder="Escriba su petición"></textarea>
                </div>

                <div class="d-grid gap-2 col-6 mx-auto d-block">
                    <button class="btn btn-primary" type="submit">Enviar</button>
                    <a href="@Url.Action("Index", "Home")" class="volver btn btn-outline-primary">Volver al inicio</a>
                </div>
            </form>
        </section>
    </main>

    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>

</html>

