
footer {
    background-color: #0d6efd
}

footer h4,
a {
    margin: 15px;
    color: white
}

footer p {
    font-size: 2, 0rem;
    text-align: center;
    color: white
}

footer a:hover {
    color: white
}
h6{
    color: white;
}