@{
    ViewBag.Title = "CrearPublicacion";
    Layout = "~/Views/Shared/_Layout_Proveedor.cshtml";
}

<style>
    body {
        margin-top: 150px;
    }
    a {
        text-decoration:none;
    }
</style>
<html>
<body>
    <form action="@Url.Action("CrearPublicacion")" method="post">
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">URL imagen</label>
            <input name="IMAGEN" type="text" class="form-control" id="formGroupExampleInput" required>
        </div>

        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Nombre del servicio</label>
            <input name="NOMBRE" type="text" class="form-control" id="formGroupExampleInput" required>
        </div>

        <label for="formGroupExampleInput" class="form-label">Precio</label>
        <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <input name="PRECIO" type="number" class="form-control" aria-label="Dollar amount (with dot and two decimal places)" required>
        </div>

        <label for="formGroupExampleInput" class="form-label">Términos</label>
        <div class="form-floating">
            <textarea name="TERMINOS" class="form-control" id="floatingTextarea2" style="height: 100px" required></textarea>
        </div>
        <br />
        <select name="ID_CATEGORIA_FK" class="form-select" aria-label="Default select example" required>
            <option selected>Categorías</option>
            <option value="1">Limpieza</option>
            <option value="2">Mantenimiento</option>
            <option value="3">Construcción</option>
        </select>
        <br />
        <button type="submit" class="btn btn-primary">Publicar</button>
        <button type="button" class="btn btn-outline-primary"><a href="@Url.Action("MisPublicaciones")">Cancelar</a></button>
    </form>
</body>
</html>

