
@{
    ViewBag.Title = "ServiciosPublicar";
    Layout = "~/Views/Shared/Layout_CP.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Service Market</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Css/ServiciosPublicar.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;600&display=swap" rel="stylesheet">
</head>

<body class="p-0 m-0 border-0">
    <section>
        <div class="publicacion">
            <h1 id="titulo">Nueva publicación</h1>

            <form action="@Url.Action("ServiciosPublicar")" method="post">
                <div class="mb-3">
                    <label for="formFile" class="form-label">Imagen</label>
                    <input name="IMAGEN_SER" class="form-control" type="file" id="formFile" required>
                </div>

                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Nombre del servicio</label>
                    <input name="NOMBRE_SER" type="text" class="form-control" id="formGroupExampleInput" placeholder="Escriba el nombre del servicio" required>
                </div>

                <label for="formGroupExampleInput" class="form-label">Precio</label>
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input name="PRECIO_SER" type="number" class="form-control" aria-label="Dollar amount (with dot and two decimal places)" placeholder="Digite el precio" required>
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Términos</label>
                    <textarea name="TERMINOS_SER" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Escriba los términos y condiciones para prestar el servicio" required></textarea>
                </div>

                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Categoría</label>
                    <select name="ID_CATEGORIA_FK" class="form-select" aria-label="Default select example" required>
                        <option selected>-----</option>
                        <option value="1">Mantenimiento</option>
                        <option value="2">Trabajos domesticos</option>
                        <option value="3">Remodelación</option>
                        <option value="4">Albañilería</option>
                        <option value="5">Salud y belleza</option>
                    </select>
                </div>
                <br />
                <div class="buttons gap-3 d-flex">
                    <button class="btn btn-primary col-4" type="submit">Publicar</button>
                    <button class="btn btn-success col-4" type="button">
                        <a class="a text-decoration-none" href="@Url.Action("Index")">Cancelar</a>
                    </button>
                </div>
            </form>
        </div>
    </section>
     

    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>

