body {
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
}

.img {
    height: 600px;
    width: 600px;
    object-fit: cover;
}
.carousel-caption {
    background-color: rgba(242, 243, 244, 0.5);
    border-radius: 30px;
}

.carousel-caption h5 {
    font-size: 35px;
    font-weight: bold;
}

.carousel-caption p {
    font-size: 20px;
}


.carousel-caption button {
     border: none;
     transition: background-color .5s;
}

.carousel-caption button:hover {
     background-color: #1e2126;
     border: none;
}

.cards-wrapper {
    display: flex;
}

.card {
    margin: 0.4cm;
    width: calc(90%/3);
    height: 30%;
}

.cards-wrapper img {
    height: 250px;
}

.card-body h5 {
    font-weight: bold;
}

.card-body button a {
    color: white;
    text-decoration: none;
}

.drop {
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.9));
}

.titulo {
    margin-top: 20px;
    color: #1b6bc2;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}