body {
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
}

.img {
    height: 600px;
    width: 600px;
    object-fit: cover;
}
.carousel-caption {
    background-color: rgba(242, 243, 244, 0.5);
    border-radius: 30px;
}

.carousel-caption h5 {
    font-size: 35px;
    font-weight: bold;
}

.carousel-caption p {
    font-size: 20px;
}


.carousel-caption button {
     border: none;
     transition: background-color .5s;
}

.carousel-caption button:hover {
     background-color: #1e2126;
     border: none;
}