body {
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
}

#logo {
    width: 70px;
    height: 70px;
    margin-left: 10px;
}

#service {
    color: #1b6bc2;
    font-size: 35px;
    font-weight: bold;
}

.item {
    margin: 5px;
}
