body {
    margin-top: 100px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
    background-image: linear-gradient( 135deg, #97ABFF 10%, #123597 100%);
}

#titulo {
    color: white;
    text-align: center;
    font-size: 40px;
}

.publicacion {
    background-color: #1e2126 !important;
    padding: 40px;
    border-radius: 20px;
}

label {
    color: white;
    font-size: 20px;
}

.form-control {
    min-height: 2rem;
}

textarea {
    resize: none;
}

.buttons {
    justify-content: center;
}

.btn, .a {
    color: white !important;
    font-size: 20px;
    height:50px;
}