#logo {
    width: 115px;
    height: 89px;
}

#service {
    color:white;
    font-size: 20px;
}

.busquedad {
    margin-left: 25px;
}

#carrito {
    width:30px;
    height:30px;
}

.item {
    margin: 10px;
}
